.titulo {
    text-align: center;
  }
  
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    padding: 1rem;
    max-width: 500px;
  }
  
  label {
    margin-top: 1rem;
  }
  
  #objeto {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid black;
  }
  
  .submit {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .button-pay {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .submit:hover {
    background-color: gray;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-pay {
    
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      background-color: gray;
      // Agrega cualquier otro estilo que desees aplicar al botón desactivado aquí
    }
  }